[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
mongo = "*"
"psycopg2" = "*"
pillow = "*"
python-magic = "*"
django-material = "*"
ipython = "*"
django-extensions = "*"
django = "==2.0.8"
easy-thumbnails = "*"
gunicorn = "*"
uwsgi = "*"
requests = "*"
"psycopg2-binary" = "*"
"beautifulsoup4" = "*"
lxml = "*"
"html5lib" = "*"
python-memcached = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
