body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i {
    vertical-align: middle !important;
}

:target::before {
    content: "";
    display: block;
    height: 120px;
    margin: -120px 0 0;
}

