body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i {
    vertical-align: middle !important;
}

:target::before {
    content: "";
    display: block;
    height: 120px;
    margin: -120px 0 0;
}

@media (min-width: 992px) {
    a.brand-logo {
        padding-left: 50px;
    }
}

.tabs .tab a.active {
    border-bottom: 2px solid #B71C1C;
}

.tabs .indicator {
    display: none;
}

div.card {
    text-overflow: ellipsis !important;

    white-space: nowrap;
    overflow: hidden;
}