{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>Links</h2>
            <div class="divider"></div>
            <h4>Affiliated organizations</h4>
            <div class="collection">
                <a class="collection-item" href="http://www.em-multi.eu/">歐盟伊拉斯莫斯MULTI計畫 <br>
                    Erasmus Mundus Multi</a>
                <a class="collection-item" href="http://neuroscience.ntu.edu.tw/home">國立臺灣大學神經生物與認知科學研究中心 <br>
                    Neurobiology and Cognitive Science Center, National Taiwan University</a>
                <a class="collection-item" href="http://www.psy.ntu.edu.tw/">國立臺灣大學心理學系暨研究所 <br>
                    Department of Psychology, National Taiwan University</a>
                <a class="collection-item" href="http://gibms.mc.ntu.edu.tw/">國立臺灣大學醫學院腦與心智科學研究所 <br>
                    Graduate Institute of Brain and Mind Science, National Taiwan University</a>
                <a class="collection-item" href="http://homepage.ntu.edu.tw/~anthro/">國立臺灣大學人類學系暨研究所 <br>
                    Department of Anthropology, National Taiwan Normal University</a>
                <a class="collection-item" href="http://www.gitl.ntu.edu.tw/main.php">國立臺灣大學臺灣文學研究所 <br>
                    Graduate Institute of Taiwan Literature, National Taiwan University</a>
            </div>
            <h4>Linguistics associations</h4>
            <div class="collection">
                <a class="collection-item" href="http://www.ling.sinica.edu.tw/zh/Home">國際認知語言學會 <br>
                    Institute of Linguistics, Academia Sinica, Taiwan </a>
                <a class="collection-item" href="http://linguist.tw/en/">台灣語言學學會 <br>
                    The Linguistic Society of Taiwan </a>
                <a class="collection-item" href="http://www.uijin.idv.tw/tlls/">台灣語文學會 <br>
                    Taiwan Languages and Literature Society</a>
                <a class="collection-item" href="http://www.aclclp.org.tw/">中華民國計算語言學學會 <br>
                    ACLCLP, Taiwan</a>
                <a class="collection-item" href="http://www.cognitivelinguistics.org/">國際認知語言學會 <br>
                    International Cognitive Linguistics Association</a>
                <a class="collection-item" href="http://www.iacling.org/">國際中國語言學學會 <br>
                    International Association of Chinese Linguistics </a>
                <a class="collection-item" href="http://www.chineselinguistics.eu/">歐洲漢語語言學學會 <br>
                    European Association of Chinese Linguistics</a>
                <a class="collection-item" href="https://www.linguisticsociety.org/">美國語言學會 <br>
                    The Linguistic Society of America</a>
                <a class="collection-item" href="http://www.ls-japan.org/">日本言語学会 <br>
                    The Linguistic Society of Japan </a>
                <a class="collection-item" href="http://www.linguistics.or.kr/">南韓語言學會 <br>
                    The Linguistic Society of Korea</a>
                <a class="collection-item" href="https://www.lshk.org/">香港語言學學會 <br>
                    The Linguistic Society of Hong Kong</a>
                <a class="collection-item" href="http://ling.cass.cn/">中國社會科學院語言研究所 <br>
                    Institute of Linguistics, Chinese Academy of Social Sciences, China</a>
            </div>
            <h4>Linguistics programs</h4>
            <div class="collection">
                <a class="collection-item" href="https://ling.nccu.edu.tw/main.php">國立政治大學語言學研究所 <br>
                    Graduate Institute of Linguistics, National Chengchi University</a>
                <a class="collection-item" href="https://www.fl.nctu.edu.tw/index.php">國立外國語文學系暨外國文學與語言學碩士班 <br>
                    Department of Foreign Languages &amp; Literatures | Graduate Institute of Foreign Literatures &amp;
                    Linguistics, National Chiao Tung University</a>
                <a class="collection-item" href="http://linguist.ccu.edu.tw/">國立中正大學語言學研究所 <br>
                    Graduate Institute of Linguistics, National Chung Cheng University</a>
                <a class="collection-item" href="http://www.eng.ntnu.edu.tw/main.php">國立台灣師範大學英語學系 <br>
                    Department of English, National Taiwan Normal University</a>
                <a class="collection-item" href="http://www.ling.nthu.edu.tw/bin/home.php">國立清華大學語言學研究所 <br>
                    Graduate Institute of Linguistics, National Tsing Hua University</a>
            </div>
            <h4>Other links</h4>
            <div class="collection">
                <a class="collection-item" href="https://www.most.gov.tw/">科技部全球資訊網 <br>
                    Ministry of Science and Technology</a>
                <a class="collection-item"
                   href="http://kan.ntu.edu.tw/?searchBar=%E8%B6%99%E5%85%83%E4%BB%BB&mode=search&group=kan">趙元任先生系列演講</a>
                <a class="collection-item" href="http://kan.ntu.edu.tw/?mode=detail&group=ntu&level_sn=34&page=3">王士元教授系列演講</a>
            </div>
        </div>
    </div>
{% endblock %}