{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>Funding</h2>
            <div class="divider"></div>
            <h4>Conference participation funds</h4>
            <div class="collection">
                <a class="collection-item" href="http://www.aca.ntu.edu.tw/aca2012/gra/gra/NIEF/intermeetdesc.asp?id=8">
                    國科會補助國內研究生出席國際學術會議補助 <br>
                    NSC Funds for Domestic Research Students in Attending International Conferences
                </a>
                <a class="collection-item" href="http://liberal.ntu.edu.tw/~liberal/file/10_03/37.doc">
                    文學院補助碩博士班出席國際會議經費申請表 <br>
                    Funds for Master and Ph.D. Students in Attending International Conferences offered by College of
                    Liberal Arts
                </a>
                <a class="collection-item" href="http://liberal.ntu.edu.tw/~liberal/file/10_03/36.doc">
                    文學院學生參與國際學術與教育活動獎學金申請表 <br>
                    Funds for College of Liberal Arts' Students in Attending Overseas Short-term Research
                </a>
                <a class="collection-item" href="http://homepage.ntu.edu.tw/~gilntu/data/Funding/補助機票審核表.doc">
                    語言所(非常態, 待所辦公室通知)：補助機票審核表
                </a>
            </div>
            <h4>Scholarships</h4>
            <div class="collection">
                <a class="collection-item" href="http://www.aca.ntu.edu.tw/aca2012/gra/gra/tienn/thousandflow.asp">國科會補助博士生赴國外研究作業</a>
            </div>
        </div>
    </div>
{% endblock %}