{% extends 'base.html' %}
{% block content %}
    <h2 class="ui header">Funding</h2>
    <div class="divider"></div>
    <div class="section">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Conference participation funds</h4></li>
            <li class="collection-item">
                <a href="http://www.aca.ntu.edu.tw/aca2012/gra/gra/NIEF/intermeetdesc.asp?id=8">
                    <p>國科會補助國內研究生出席國際學術會議補助</p>
                    <p>NSC Funds for Domestic Research Students in Attending International Conferences</p>
                </a>
            </li>
            <li class="collection-item">
                <a href="http://liberal.ntu.edu.tw/~liberal/file/10_03/37.doc">
                    <p>文學院補助碩博士班出席國際會議經費申請表</p>
                    <p>Funds for Master and Ph.D. Students in Attending International Conferences offered by College of
                        Liberal Arts</p>
                </a>
            </li>
            <li class="collection-item">
                <a href="http://liberal.ntu.edu.tw/~liberal/file/10_03/36.doc">
                    <p>文學院學生參與國際學術與教育活動獎學金申請表</p>
                    <p>Funds for College of Liberal Arts' Students in Attending Overseas Short-term Research</p>
                </a>
            </li>
            <li class="collection-item">
                <a href="http://homepage.ntu.edu.tw/~gilntu/data/Funding/補助機票審核表.doc">
                    <p>語言所(非常態, 待所辦公室通知)：補助機票審核表</p>
                </a>
            </li>
        </ul>
    </div>

    <div class="ui list">
        <a class="item" href="">Conference Participation Funds</a>
        <a class="item" href="">Scholarship</a>
    </div>
{% endblock %}