{% extends 'base.html' %}
{% block content %}
    <h1 class="ui header">Courses</h1>
    <div class="ui list">
        <a class="item" href="https://nol.ntu.edu.tw/nol/coursesearch/search_for_02_dpt.php?coursename=&dptname=1420&dpt_sel=1000&yearcode=0&teachername=&selcode=-1&alltime=yes&week1=&week2=&week3=&week4=&week5=&week6=&allproced=yes&proced0=&proced1=&proced2=&proced3=&proced4=&procedE=&proced5=&proced6=&proced7=&proced8=&proced9=&procedA=&procedB=&procedC=&procedD=&allsel=yes&selCode1=&selCode2=&selCode3=&page_cnt=15">Course Search</a>
    </div>
{% endblock %}