<!DOCTYPE html>
{% load static %}
<html id="body" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graduate Institute of Linguistics at NTU</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block header %}
    {% endblock %}
</head>
<body>
<ul id="people_dropdown" class="dropdown-content">
    <li><a class="item" href="{% url 'people:faculty_list_view' %}">Faculty</a></li>
    <li><a class="item" href="{% url 'people:staff_list_view' %}">Staff</a></li>
    <li><a class="item" href="{% url 'people:master_student_list_view' %}">M.A. Students</a></li>
    <li><a class="item" href="{% url 'people:phd_student_list_view' %}">Ph.D. Students</a></li>
</ul>
<nav>
    <div class="nav-wrapper red darken-4">
        <a href="/" class="brand-logo">GIL</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="item" href="{% url 'introduction:index' %}">Introduction</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="people_dropdown">People</a></li>
            <li><a class="item" href="{% url 'admissions:index' %}">Admissions</a></li>
            <li><a class="item" href="{% url 'courses:index' %}">Courses</a></li>
            <li><a class="item" href="{% url 'funding:index' %}">Funding</a></li>
            <li><a class="item" href="{% url 'newsletter:index' %}">Newsletter</a></li>
            <li><a class="item" href="{% url 'links:index' %}">Links</a></li>
            <li><a class="item" href="{% url 'contact_info:index' %}">Contact Information</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <br>
    {% block content %}
    {% endblock %}
</div>
<footer class="page-footer red darken-4">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <p class="white-text">Graduate Institute of Linguistics, National Taiwan University, No.
                    1, Sec. 4, Roosevelt Rd., Taipei, Taiwan (R.O.C.) 10617</p>
            </div>
            <div class="row">
                <div class="col l12 s12">
                    <p>Copyright © {% now "Y" %} - All Rights Reserved - Graduate Institute of Linguistics, National
                        Taiwan University</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
        $(".carousel").carousel({
            {#fullWidth: true#}
            indicators: true
        });
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>