<!DOCTYPE html>
{% load static %}
<html id="body" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Graduate Institute of Linguistics at NTU</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'css/gil.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block header %}
    {% endblock %}
</head>
<body>
<ul id="cross_dropdown1" class="dropdown-content">
    <li><a href="{% url 'cross:index' %}">簡介</a></li>
    <li><a href="{% url 'cross:purpose' %}">設立宗旨</a></li>
    <li><a href="{% url 'cross:requirements' %}">修業規定</a></li>
    <li><a href="{% url 'cross:course_info' %}">課程資訊</a></li>
    <li><a href="{% url 'cross:student' %}">學生專區</a></li>
</ul>
<ul id="cross_dropdown2" class="dropdown-content">
    <li><a href="{% url 'cross:index' %}">簡介</a></li>
    <li><a href="{% url 'cross:purpose' %}">設立宗旨</a></li>
    <li><a href="{% url 'cross:requirements' %}">修業規定</a></li>
    <li><a href="{% url 'cross:course_info' %}">課程資訊</a></li>
    <li><a href="{% url 'cross:student' %}">學生專區</a></li>
</ul>
<ul id="people_dropdown1" class="dropdown-content">
    <li><a href="{% url 'people:faculty_list_view' %}">Faculty</a></li>
    <li><a href="{% url 'people:staff_list_view' %}">Staff</a></li>
    <li><a href="{% url 'people:master_student_list_view' %}">M.A. Students</a></li>
    <li><a href="{% url 'people:phd_student_list_view' %}">Ph.D. Students</a></li>
</ul>
<ul id="people_dropdown2" class="dropdown-content">
    <li><a href="{% url 'people:faculty_list_view' %}">Faculty</a></li>
    <li><a href="{% url 'people:staff_list_view' %}">Staff</a></li>
    <li><a href="{% url 'people:master_student_list_view' %}">M.A. Students</a></li>
    <li><a href="{% url 'people:phd_student_list_view' %}">Ph.D. Students</a></li>
</ul>
<div class="navbar-fixed">
    <nav class="nav-extended">
        <div class="nav-wrapper cyan darken-4">
            <a href="/" class="brand-logo">GIL</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a id="intro" class="item" href="{% url 'introduction:index' %}">Introduction</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="people_dropdown1">People
                    <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a id="admissions" class="item" href="{% url 'admissions:index' %}">Admissions</a></li>
                <li><a id="cross" class="dropdown-trigger" href="#!" data-target="cross_dropdown1">Cross-Disciplinary Program
                <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a id="courses" class="item" href="{% url 'courses:index' %}">Courses</a></li>
                <li><a id="funding" class="item" href="{% url 'funding:index' %}">Funding</a></li>
                <li><a id="newsletter" class="item" href="{% url 'newsletter:index' %}">Newsletter</a></li>
                <li><a id="links" class="item" href="{% url 'links:index' %}">Links</a></li>
                <li><a id="contact_info" class="item" href="{% url 'contact_info:index' %}">Contact Information</a></li>
            </ul>
        </div>
        {% block nav %}
        {% endblock nav %}
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a id="intro" class="item" href="{% url 'introduction:index' %}">Introduction</a></li>
    <li><a class="dropdown-trigger" href="#!" data-target="people_dropdown2">People
    <i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a id="admissions" class="item" href="{% url 'admissions:index' %}">Admissions</a></li>
    <li><a id="cross" class="dropdown-trigger" href="#!" data-target="cross_dropdown2">Cross-Disciplinary Program
        <i class="material-icons right">arrow_drop_down</i></a></li>
    <li><a id="courses" class="item" href="{% url 'courses:index' %}">Courses</a></li>
    <li><a id="funding" class="item" href="{% url 'funding:index' %}">Funding</a></li>
    <li><a id="newsletter" class="item" href="{% url 'newsletter:index' %}">Newsletter</a></li>
    <li><a id="links" class="item" href="{% url 'links:index' %}">Links</a></li>
    <li><a id="contact_info" class="item" href="{% url 'contact_info:index' %}">Contact Information</a></li>
</ul>
<main>
    {% block full-width %}
    {% endblock full-width %}
    <div class="container">
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="page-footer cyan darken-4">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <p class="white-text">Graduate Institute of Linguistics, National Taiwan University, No.
                    1, Sec. 4, Roosevelt Rd., Taipei, Taiwan (R.O.C.) 10617</p>
            </div>
            <div class="row">
                <div class="col l12 s12">
                    <p>Copyright © {% now "Y" %} - All Rights Reserved - Graduate Institute of Linguistics, National
                        Taiwan University</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown({
            hover: false,
        });
        $(".carousel").carousel({
            {#fullWidth: true#}
            indicators: true,
        });
        $(".sidenav").sidenav();
        $(".materialboxed").materialbox();
        $(".slider").slider({
            fullWidth: true,
            height: 600,
        });
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $('select').formSelect();
        {#if($('tabs'))#}
    });
</script>
{% block javascript %}
{% endblock %}
</body>
</html>