{% extends 'base.html' %}
{% block content %}
    <h1 class="ui header">Admissions</h1>
    <h2 class="ui dividing sub header">Masters</h2>
    <div class="ui list">
        <a class="item" href="">甄試</a>
        <a class="item" href="">一般生</a>
        <a class="item" href="">Download Letter of Recommendation Form</a>
        <a class="item" href="">Degree Requirement</a>
    </div>

    <h2 class="ui dividing sub header">Doctorate</h2>
    <div class="ui list">
        <a class="item" href="">招生簡章</a>
        <a class="item" href="">Download Letter of Recommendation Form</a>
        <a class="item" href="">Degree Requirement</a>
        <a class="item" href="">國立臺灣大學文學院語言學研究所辦理教師評審暨評鑑優良學術期刊等級名錄</a>
    </div>
    <h2 class="ui dividing sub header">International Students</h2>
    <div class="ui list">
        <a class="item" href="">Office of International Affairs</a>
    </div>
{% endblock %}