{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>Admissions</h2>
            <h4>語言所碩士班必修科目及應修學分資料</h4>
            <h5>應修學分數</h5>
            <p>系訂必修： 11 學分 選修： 19 學分 應修最低畢業學分： 30 學分 (不含博/碩士論文)</p>
            <div class="divider"></div>
            <h5>應修科目</h5>
        </div>
        <div class="col s12">
            <table class="highlight responsive-table centered">
                <thead>
                {% autoescape off %}
                    {{ requirements_table.requirements_header }}
                {% endautoescape %}
                </thead>
                <tbody>
                {% autoescape off %}
                    {{ requirements_table.requirements_body }}
                {% endautoescape %}
                </tbody>
            </table>
            <h5>{{ requirements_table.special_header }}</h5>
        <p>
           第二外國語（除英語及其母語外）為本所必修課程，但不計學分。
            <br>1.凡碩士班研究生於正式入學前，曾於教育部認可之國內外大學修習第二外國文一年以上（至少6學分或以上）
            且每學期成績達七十分以上者，即可於行事曆規定時間內，檢附成績證明辦理抵免。
            <br>2.語言所所認定「第二外國語」有：日文、德文、法文、西班牙文暨曾在本校及國立壹灣大學系統校際選課聯盟所開授語
            言課程等。本所認列可抵第二外國語的語言（限同一語言）僅能以修滿6學分且達70分以上方可抵免。
            <br>已申請抵免某一語言部分學分者，需修習同一語言之不同級課程。<br>申請人的母語及英語不得申請抵免。 <br></p>
{#            <p>{{ requirements_table.special_body }}</p>#}
            <h5>{{ requirements_table.remarks_header }}</h5>
{#            <p>{{ requirements_table.remarks_body }}</p>#}
        <p>申請學位考試<br>一、依照行事例規定時間內申請。<br>二、申請學位考試前，研究生必須確定於學位口試前在語言學相關之研討會上發表過論文
            （不一定是畢業論文）方可提出申請。<br></p>
        </div>
    </div>
{% endblock %}