{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>Admissions</h2>
            <h4>語言所博士班必修科目及應修學分資料</h4>
            <h5>應修學分數</h5>
            <p>系訂必修： 3 學分 選修： 24 學分 應修最低畢業學分： 27 學分 (不含博/碩士論文)</p>
            <div class="divider"></div>
            <h5>應修科目</h5>
        </div>
        <div class="col s12">
            <table class="highlight responsive-table centered">
                <thead>
                {% autoescape off %}
                    {{ requirements_table.requirements_header }}
                {% endautoescape %}
                </thead>
                <tbody>
                {% autoescape off %}
                    {{ requirements_table.requirements_body }}
                {% endautoescape %}
                </tbody>
            </table>
            <h5>{{ requirements_table.special_header }}</h5>
            <p>
                96學年(不含)前入學者適用：<br>一、必修：博士論文(學分不計入畢業學分內)<br>認知科學基本議題(3學分)<br>
                二、選修：博士班研究生必須在以下五個次領域中，中擇一個主修及一個副修領域。主修是指在一個次領域中至少修習12學分，
                副修至少修習6學分。研究生經指導教授同意可選修其他系所的相關課程作為副修。各次領域之任課教師以本所現有教師為主。
                <br>A. 音韻學與構詞學領域<br>B. 句法學領域<br>C. 語意學與語用學領域<br>D. 應用語言學領域<br>E. 計算語言學領域
                <br>三、凡未具語言學碩士學位者，錄取後其應補修之基礎學科與學分得由本所(指導教授)訂定為必修課程，其學分不計入畢業學分數。
                <br>四、課程修習以需依指導教授指示進行，修習課程以本所學習進度表記載為準。
                <br>五、若有博士班研究生修習M字頭課程，該課程學分是否計入該博士生之畢業學分中，由該授課教師認定並調整其課程要求。
                <br>六、自92學年起，博士班研究生在學第一年每學期至少應修習本所開授M字頭課程6學分，情況特殊者經所務會議討論通過者，不在此限。
                <br><br>96學年起入學者適用<br>一、 原來有關領域的學分規定，只保留原有的主修12學分，副修6學分的要求。畢業學分數也不改變。
                <br>二、 增加研究方法的要求：統計方法或田野調查（二選一）─── 碩士班時已修習者視為滿足規定。不計入畢業學分。
                <br>三、 開放採計碩士班必修課學分，允許最多六學分。<br>四、 在碩士班階段未曾修習聲韻學及語法學者，需補修聲韻學及語法學(一)。
                不計入畢業學分。<br>五、 除補修學分外，修習指導教授指定/推薦之碩士班必修課，計入畢業學分。
                <br>六、 研究方法與採計碩士班必修課學分，由指導教授決定並在第一年第二學期結束前在學習單中註明完成日期。
                <br>七、 如經開課教師同意，課程可同時分屬於兩個領域，但在計算主、副修學分時，只能擇一採計。
                <br><br>96學年前入學者，亦可提出書面聲明表明選擇採行新制。<br></p>
            {#            <p>{{ requirements_table.special_body }}</p>#}
            <h5>{{ requirements_table.remarks_header }}</h5>
            <p>申請學位考試前，應先完成之要求<br>一、本所博士班無紙筆測驗之資格考。<br>二、研究生通過二篇資格論文(qualifying papers of
                publishable quality，以下簡稱QPPQ)之審查，即等同通過資格考。QPPQ撰寫語言為英文。
                其中一篇需發表在本所認定之一級期刊或出具證明將定期發表，若該篇論文作者超過2人，需有書面證明該學位考試申請者之貢獻超過60%。
                另一篇則至少需在本所認定之二級期刊或經本所審查通過者。<br>三、一級、二級期刊之認定係依「國立臺灣大學文學院語言學究所辦理教
                師評審暨評估優良學術期刊等級名錄」。自103學年第1學期始，博士班研究生發表於或被科技部人文學領域各學門期刊經認定為優良刊名單
                （公告於本校研發展處網頁）收錄列為前15%的期刊所接受，且該論文主題是以語言學為核心的期刊論文，視同完成一級QPPQ。
                <br>四、資格論文(QPPQ)之提出時間點及認定：<br>(一)資格論文審定之申請時段為每年的三月一日至二十日及九月一日至二十日。
                <br>(二)申請後，申請人需於資格論文審定會議中對全所做公開發表。
                <br>(三)資格論文QPPQ若已為本所認定之二級及以上之級期刊接受，只需在所務會議中報告，不再另組審查委員會進行審查。
                <br>(四)委員會由本所三位教師組成，其中指導教授為此委員會之召集人。
                <br>(五)通過資格論文(QPPQ)審定，該申請人即為博士候選人。資格論文由本所資格論文審定委員會認定之。
                <br>五、資格考試可申請二次，以「通過／修正通過／不通過」評分方式。若第二次考試仍未通過，應令退學（校母法規定）
                。<br></p>
            {#            <p>{{ requirements_table.remarks_body }}</p>#}
        </div>
    </div>
{% endblock %}
