{% extends 'base.html' %}

{% block content %}
    <div class="ui text container">
        <h1 class="ui header">Introduction</h1>
        <h2 class="ui dividing sub header">About us</h2>
        <p class="">The Graduate Institute of Linguistics (GIL) was established in August 1994. The GIL started as a
            Master's program, but was extended to include a doctoral program since August 2002.
            From its inception, GIL has been dedicated to education and research in analytical and
            theoretical aspects of Linguistics, especially Cognitive Linguistics. With diversified
            research topics and intensive studies on Austronesian languages, GIL at NTU has earned its
            reputation in the Cognitive linguistic research of Mandarin and Austronesian languages.</p>

        <p>Over the last few decades, Linguistics has been considered a part of Cognitive Science.
            With joint contributions from Linguistics, Psychology, Neuroscience, Artificial Intelligence,
            Philosophy of Mind, and Cognitive Anthropology, Cognitive Science promises to advance our
            understanding of the human mind. In view of this trend, our future goals include the
            following:</p>
        <ol>
            <li>To further develop the Chinese Spoken Corpus and the Formosan Corpus, as well as an open
                platform for the exploratory and quantitative analysis of corpus data.
            </li>
            <li>To continue coursework development in Cognitive Science, including computational
                linguistics, language and culture, phonetics, discourse and cognition, and
                neurolinguistics.
            </li>
            <li>To improve our graduate students' proficiency in English by conducting several courses
                in English.
            </li>
            <li>To open our graduate program to international students.</li>
            <li>To hold conferences and workshops in conjunction with the NSC, MOE, Council of Indigenous
                Peoples and the Linguistics Society of Taiwan to promote linguistic research in Taiwan.
            </li>
        </ol>
        <h2 class="ui dividing sub header">Facilities</h2>
        <p>The phonetics laboratory was established in March 1996. It is a soundproof
            audio-recording room equipped with a speech analyzer Kay 5500, an open reel recorder, a mixer,
            a double cassette recorder, a CD player and a computer. The psycholinguistics laboratory,
            established in February 2001, is also soundproof. Two computers, E-prime software, response
            boxes and monitors designed for uni-modal (either visual or auditory input) and bi-modal
            (concurrent visual and auditory input) are available for behavioral experiments. In addition,
            the computational linguistics laboratory is maintaining a repository that contains a huge
            amount of Chinese corpora (the balanced corpus, the web corpus, and the social network corpus)
            and lexical resources (Chinese Wordnet, etc). Finally, through collaboration with the Psychology
            Department at the National Taiwan University, students may have opportunities to access
            Event-Related Potentials (ERP) research equipment, including a Neuroscan amplifier that
            supports electrophysiological recordings from 64 electrodes and software for data analyses.
            In the near future, students will also have access to Magnetic Resonance Imaging (MRI) equipment
            that was recently granted to the National Taiwan University by the Department of Humanities and
            Social Sciences of the National Science Council. More generic facility includes a large computer
            room equipped with a variety of programs necessary for the linguistic and statistical data
            analyses. Furthermore, a total of 493,000 titles on linguistics are available in the library.
            Since the establishment of the Institute, approximately 4000 volumes have been purchased and a
            regular subscription of over 20 magazines and journals has been maintained.</p>
        <h2 class="ui dividing sub header">Academic activities</h2>
        <p>Colloquia on topics of current research are scheduled regularly.
            Each year scholars are periodically invited to conduct seminar classes, and give a series of
            talks. Over one hundred scholars have visited our institute to date. In addition, our Institute
            has organized and held various international conferences and workshops. CLDC is our annual
            meeting on the study of language, discourse and cognition, usually held in May.</p>
    </div>
{% endblock %}