{% extends 'base.html' %}
{% load static %}
{% block nav %}
    <div class="nav-content cyan darken-4">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="{% url 'cross:index' %}">簡介</a></li>
            <li class="tab"><a href="{% url 'cross:purpose' %}">設立宗旨</a></li>
            <li class="tab"><a href="{% url 'cross:requirements' %}">修業規定</a></li>
            <li class="tab"><a class="active" href="{% url 'cross:course_info' %}">課程資訊</a></li>
            <li class="tab"><a href="{% url 'cross:student' %}">學生專區</a></li>
        </ul>
    </div>
{% endblock nav %}

{% block content %}
    <div style="margin-top: 50px;" class="row">
        <div class="section">
            <h3>課程資訊</h3>
            <h4>課程列表</h4>
            <div class="divider"></div>
            <div class="flow-text">
            </div>
        </div>
    </div>
{% endblock content %}
