{% extends 'base.html' %}
{% block nav %}
    <div class="nav-content cyan darken-4">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="{% url 'cross:index' %}">簡介</a></li>
            <li class="tab"><a href="{% url 'cross:purpose' %}">設立宗旨</a></li>
            <li class="tab"><a href="{% url 'cross:requirements' %}">修業規定</a></li>
            <li class="tab"><a href="{% url 'cross:course_info' %}">課程資訊</a></li>
            <li class="tab"><a href="{% url 'cross:student' %}">學生專區</a></li>
        </ul>
    </div>
{% endblock nav %}

{% block content %}
    <div style="margin-top: 50px;" class="row">
        <div class="section">
            <h3>跨域專長：語言、資訊與認知（Language, Information and Cognition）</h3>
            <div class="divider"></div>
            <div class="flow-text">
                <p>語言為人類認知活動裡不可或缺的一環,牽動著我們的生活日常,反映著人類與周遭環境互動時所表現出的動態認知變化,因此,
                    語言學在現代的認知科學裡,佔有相當核心的地位。
                <p>目前探究語言認知的方式,主要可分二個面向進行:</p>
                <p>1. <span style="font-weight: bold;">語言與認知</span> | 人類對語言的產製、感知與學習方式,佐以心理學相關實驗法來理解語言認知。</p>
                <p>2. <span style="font-weight: bold;">語言與資訊</span> | 以資訊科學大數據的方式,從語料庫中找尋規律,並運用於人機互動的介面與智能系統的設計。</p>
                <p>
                    台大目前雖有許多老師從事語言認知相關研究,但是並未設置大學部相關科系以培育語言認知人才,殊為可惜,也較難與本校目前研究所的研究動能做有效的連結。因此,台大語言學研究所擬結合校內相關系所單位的人力,設置學士班跨域專長課程模組,以期能為國內語言認知人才的培育盡一份心力。</p>
            </div>
        </div>
        <div class="section">
            <h4>教學單位</h4>
            <div class="divider"></div>
            <div class="flow-text">
                <p><span style="font-weight: bold;">主辦教學單位</span> <br>
                    文學院語言學研究所</p>
                <p><span style="font-weight: bold;">參與教學單位</span> <br>
                    文學院語言學研究所、中國文學系、外國語文學系、華語教學碩士學位學程、哲學系、華語教學碩士學程、理學院心理學系、電機資訊學院資訊工程系暨研究所、生物資源暨農學院生物產業機電工程學系、共同教育中心及附設醫院復健部。
                </p>
            </div>
        </div>
        <div class="section">
            <h4>最新公告</h4>
            <div class="divider"></div>
            <div class="flow-text">
                <p>Coming soon...</p>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        $("#cross").closest("li").addClass("active")
    </script>
{% endblock javascript %}