{% extends 'cross_disciplinary/cross_disciplinary_base.html' %}
{% load static %}

{% block content %}
    <div style="margin-top: 50px;" class="row">
        <div class="section">
            <h3>學生專區</h3>
            <h4>學生專區</h4>
            <div class="divider"></div>
            <div class="center-align">
                {#                <br><br><br><br>#}
                <div class="col s6">
                    <p><a class="waves-effect waves-light btn-large" href="#"><i
                            class="material-icons left">question_answer</i>FAQ</a></p>
                </div>
                <div class="col s6">
                    <p><a class="waves-effect waves-light btn-large" href="{% url 'login' %}"><i class="material-icons left">person</i>申請/登錄帳號</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}