{% extends 'base.html' %}
{% load static %}
{% block full-width %}
{#    <div class="slider">#}
{#        <ul class="slides">#}
{#            <li><img src="{% static 'homepage/bookcase.jpg' %}" alt=""></li>#}
{#            <li><img src="{% static 'homepage/hallway.jpg' %}" alt=""></li>#}
{#            <li><img src="{% static 'homepage/books.jpg' %}" alt=""></li>#}
{#        </ul>#}
{#        <br><br>#}
{#    </div>#}
{% endblock full-width %}
{% block content %}
    <div class="row">
        <div class="col l6 s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>News</h4></li>
                {% for item in news %}
                    <li class="collection-item">
                        {% if item.link %}
                            <a href="{{ item.link }}">{{ item.time_posted }}{{ item.title }}</a>
                        {% elif item.file %}
                            <a href="{{ item.file }}">{{ item.title }}</a>
                        {% else %}
                            {{ item.title }}
                            {{ item.time_posted }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col l6 s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Talks/Events</h4></li>
                {% for item in talks %}
                    <li class="collection-item">
                        {% if item.link %}
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        {% elif item.file %}
                            <a href="{{ item.file }}">{{ item.title }}</a>
                        {% else %}
                            {{ item.title }}
                            {{ item.time_posted }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
