{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col l12">
            <div class="carousel carousel-slider">
                <img class="carousel-item" src="{% static 'homepage/1.jpg' %}" alt="">
                <img class="carousel-item" src="{% static 'homepage/2.jpg' %}" alt="">
                <img class="carousel-item" src="{% static 'homepage/3.jpg' %}" alt="">
                <img class="carousel-item" src="{% static 'homepage/4.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>News</h4></li>
                {% for item in news %}
                    <li class="collection-item">
                        {% if item.link %}
                            <a href="{{ item.link }}">{{ item.time_posted }}{{ item.title }}</a>
                        {% elif item.file %}
                            <a href="{{ item.file }}">{{ item.title }}</a>
                        {% else %}
                            {{ item.title }}
                            {{ item.time_posted }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Talks/Events</h4></li>
                {% for item in talks %}
                    <li class="collection-item">
                        {% if item.link %}
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        {% elif item.file %}
                            <a href="{{ item.file }}">{{ item.title }}</a>
                        {% else %}
                            {{ item.title }}
                            {{ item.time_posted }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}