{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="ui header">Contact Information</h1>
    <div class="ui two column centered grid">
        <div class="column slider">
            <div><img class="ui large fluid image" src="{% static 'contact_info/gil1.jpg' %}" alt=""></div>
            <div><img class="ui large fluid image" src="{% static 'contact_info/gil2.jpg' %}" alt=""></div>
            <div><img class="ui large fluid image" src="{% static 'contact_info/gil3.jpg' %}" alt=""></div>
            <div><img class="ui large fluid image" src="{% static 'contact_info/gil4.jpg' %}" alt=""></div>
            <div><img class="ui large fluid image" src="{% static 'contact_info/gil5.jpg' %}" alt=""></div>
        </div>
    </div>
    <div class="ui medium middle center aligned selection list">
        <div class="item">
            <div class="header">Chair</div>
            Dr. Hsieh Shu-kai
        </div>
        <div class="item">
            <div class="header">Administrative Staff</div>
            劉美玲 Meiling Liu
        </div>
        <div class="item">
            <div class="header">Webmaster</div>
            Richard Lian
        </div>
        <div class="item">
            <div class="header">Phone</div>
            +886-2-33664104 ext. 301
        </div>
        <div class="item">
            <div class="header">Fax</div>
            +886-2-23635358
        </div>
        <div class="item">
            <div class="header">Address</div>
            Graduate Institute of Linguistics, National Taiwan University, No. 1, Sec. 4, Roosevelt Rd., Taipei, Taiwan
            (R.O.C.) 10617　
        </div>
    </div>
{% endblock %}
