{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    <h1 class="ui header">
        <i class="circular users icon"></i>
        Master Students
    </h1>
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">First</a>
        <a class="item" data-tab="second">Second</a>
        <a class="item" data-tab="third">Third</a>
        <a class="item" data-tab="fourth">Fourth</a>
        <a class="item" data-tab="graduated">Graduated</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <div class="ui four cards stackable">
            {% for student in first %}
                <div class="card">
                    <div class="image">
                        <img src="{{ student.profile_picture|thumbnail_url:'avatar' }}" alt="">
                    </div>
                    <div class="content">
                        <span class="header">{{ student.eng_name }} {{ student.zh_name }}</span>
                        <div class="meta">
                            <span>{{ student.email }}</span>
                        </div>
                        <div class="description">
                            <p><strong>Research Interests</strong></p>
                            <p>{{ student.research_interests }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui four cards stackable">
            {% for student in second %}
                <div class="card">
                    <div class="image">
                        <img src="{{ student.profile_picture|thumbnail_url:'avatar' }}" alt="">
                    </div>
                    <div class="content">
                        <span class="header">{{ student.eng_name }} {{ student.zh_name }}</span>
                        <div class="meta">
                            <span>{{ student.email }}</span>
                        </div>
                        <div class="description">
                            <p><strong>Research Interests</strong></p>
                            <p>{{ student.research_interests }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui four cards stackable">
            {% for student in third%}
                <div class="card">
                    <div class="image">
                        <img src="{{ student.profile_picture|thumbnail_url:'avatar' }}" alt="">
                    </div>
                    <div class="content">
                        <span class="header">{{ student.eng_name }} {{ student.zh_name }}</span>
                        <div class="meta">
                            <span>{{ student.email }}</span>
                        </div>
                        <div class="description">
                            <p><strong>Research Interests</strong></p>
                            <p>{{ student.research_interests }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fourth">
        <div class="ui four cards stackable">
            {% for student in fourth %}
                <div class="card">
                    <div class="image">
                        <img src="{{ student.profile_picture|thumbnail_url:'avatar' }}" alt="">
                    </div>
                    <div class="content">
                        <span class="header">{{ student.eng_name }} {{ student.zh_name }}</span>
                        <div class="meta">
                            <span>{{ student.email }}</span>
                        </div>
                        <div class="description">
                            <p><strong>Research Interests</strong></p>
                            <p>{{ student.research_interests }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="graduated">
        <div class="ui four cards stackable">
            {% for student in graduated %}
                <div class="card">
                    <div class="image">
                        <img src="{{ student.profile_picture|thumbnail_url:'avatar' }}" alt="">
                    </div>
                    <div class="content">
                        <span class="header">{{ student.eng_name }} {{ student.zh_name }}</span>
                        <div class="meta">
                            <span>{{ student.email }}</span>
                        </div>
                        <div class="description">
                            <p><strong>Research Interests</strong></p>
                            <p>{{ student.research_interests }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

