{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block style %}
    <style>
        div.card {
            min-height: 480px;
        }
    </style>
{% endblock %}
{#{% block nav %}#}
{#    <div class="nav-content cyan darken-4">#}
{#        <ul class="tabs tabs-transparent">#}
{#            <li class="tab"><a class="active" href="#!current">Current</a></li>#}
{#            <li class="tab"><a href="#graduated">Graduated</a></li>#}
{#        </ul>#}
{#    </div>#}
{#{% endblock nav %}#}
{% block content %}
    <div class="row">
        <div class="section">
            <h2>People</h2>
            <h3>Doctorate Students</h3>
        </div>
        <div class="divider"></div>
            {% for student in current %}
                <div class="col l3 m6 s12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ student.profile_picture|thumbnail_url:'avatar500x500' }}"
                                 alt="">
                        </div>
                        <div class="card-content center-align">
                            <div style="display:flex; flex-direction: column; justify-content: space-between;">
                                <span class="card-title">{{ student.eng_name }} <br> {{ student.zh_name }}</span>
                                <a class="grey-text"
                                   href="mailto:{{ student.email }}">{{ student.email }}
                                </a>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Research Interests
                                <i class="material-icons right">close</i></span>
                            <p>{{ student.research_interests }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{#    <div class="divider"></div>#}
{#    <div class="row">#}
{#        <div class="section">#}
{#            <h4 id="graduated">Graduated</h4>#}
{#            {% for student in graduated %}#}
{#                <div class="col l3 m6 s12">#}
{#                    <div class="card">#}
{#                        <div class="card-image waves-effect waves-block waves-light">#}
{#                            <img class="activator" src="{{ student.profile_picture|thumbnail_url:'avatar500x500' }}"#}
{#                                 alt="">#}
{#                        </div>#}
{#                        <div class="card-content center-align">#}
{#                            <div style="display:flex; flex-direction: column; justify-content: space-between;">#}
{#                                <span class="card-title">{{ student.eng_name }} <br> {{ student.zh_name }}</span>#}
{#                                <a class="grey-text"#}
{#                                   href="mailto:{{ student.email }}">{{ student.email }}#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-reveal">#}
{#                            <span class="card-title grey-text text-darken-4">Research Interests#}
{#                                <i class="material-icons right">close</i></span>#}
{#                            <p>{{ student.research_interests }}</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock content %}
{% block javascript %}
    <script>
        $("a").click(function () {
            $("a").removeClass("active");
            $(this).addClass("active");
        })
    </script>
{% endblock javascript %}
